table {
    width: 100%;
    border-collapse: collapse;
  
    td {
      border: 1px solid #000;
      padding: 10px;
      text-align: center;
    }
  
    .highlight {
      background-color: yellow;
    }
  }
  